.card_container {
	position: relative;
	border: 3px solid #3E4357;
	border-radius: 10px;
	width: 400px;
	height: 550px;

	display: flex;
	overflow: hidden;
	margin-top: 30px;
}

.card_img {
	min-width: 100%;
	min-height: 100%;
	transition: transform 0.8s;
}

.card_img:hover {
	transform: scale(1.1);
}
