<div class="quizz__container">
  <div class="quizz_logo">
    <img src="assets/imgs/logo.png" alt="">
    <h1>{{title}}</h1>
  </div>

  @if (!finished) {
    <div class="quizz_questions">
      <h3>{{questionsSelected.question_text}}</h3>
    </div>
  }

  @if (!finished) {
    <div class="quizz_options">
      @for (item of questionsSelected.options; track $index) {
        <button class="btn-option" (click)="playerChoose(item.alias)">
          {{item.name}}
        </button>
      }
    </div>
  }

  @if (finished) {
    <div class="quizz_results">
      <h1>{{answersSelected.name}}</h1>
      <img src="{{answersSelected.img}}" alt="">
      <h3>{{answersSelected.description}}</h3>
    </div>
  }
</div>
